@model AMS.Models.Objects



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/js/bootstrap-select.min.js"></script>

    <div>
        <form id="NewOrderForm">
            <div class="modal-body">
                <div class="form-horizontal">
                    <input type="hidden" id="CustomerId" />
                    <div class="input-group">

                        <label class="control-label col-md-2">
                            Blok
                        </label>
                        <div class="col-md-4">
                            <input asp-for="Porch" type="text" id="porch" name="number" placeholder="Blok" class="form-control" />
                        </div>
                        <label class="control-label col-md-2">
                            Mərtəbə
                        </label>
                        <div class="col-md-4">
                            <input asp-for="Floor" type="text" id="floor" name="address" placeholder="Mərtəbə" class="form-control" />
                        </div>
                        <label class="control-label col-md-2" style="margin-top:1%">
                            Obyekt №
                        </label>
                        <div class="col-md-4" style="margin-top:1%">
                            <input asp-for="Number" type="text" id="number" name="address" placeholder="Obyekt №" class="form-control" />
                        </div>
                        <label class="control-label col-md-2" style="margin-top:1%">
                            M²
                        </label>
                        <div class="col-md-4" style="margin-top:1%">
                            <input asp-for="Squares" type="text" id="squares" name="address" placeholder="M²" class="form-control" />
                        </div>
                        <label class="control-label col-md-2" style="margin-top:1%">
                            Bina
                        </label>
                        <div class="col-md-4" style="margin-top:1%">
                            <select asp-for="BuildingId" id="buildingId" name="address" placeholder="Bina" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.BuildingId"></select>
                        </div>
                        <label class="control-label col-md-2" style="margin-top:1%">
                            Obyekt növü
                        </label>
                        <div class="col-md-4" style="margin-top:1%">
                            <select asp-for="ObjectTypeId" id="objectTypeId" name="address" placeholder="Obyekt növü" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.ObjectTypeId"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-default" data-dismiss="modal">Ləğv et</button>
                <button id="saveOrder" type="submit" class="btn btn-danger">Yadda saxla</button>
            </div>
        </form>
    </div>

    <div hidden>
        <!-- end: TOOLBAR -->
        <!-- end: PAGE HEADER -->
        <!-- start: BREADCRUMB -->
        <!-- end: BREADCRUMB -->
        <!-- start: PAGE CONTENT -->
        <div class="panel-white" hidden>
            <div class="panel-body">


                <form>

                    <div class="form-group">
                        <label class="control-label">Əməliyyat növün seçin</label>
                        <select id="dropdown" class="form-control selectpicker" data-live-search="true" name="dropdown" onchange="Check(this)">
                            <option value="1">Ödənişlər</option>
                            <option value="2">Məxaric</option>
                            <option value="3">Mədaxil</option>
                        </select>
                    </div>
                </form>
                <!--t-->
                @*<div class="bs-docs-example no-code">
                    <div class="btn-group bootstrap-select dropdown">
                        <select class="selectpicker" data-live-search="true" tabindex="-98">
                            <option>Hot Dog, Fries and</option>
                            <option>Burger, Shake and a Smile</option>
                            <option>Sugar, Spice and all things nice</option>
                        </select>
                    </div>
                </div>*@
                <!--t-->
            </div>
        </div>

        <div id="costCreatte" hidden>
            <div class="panel-white">
                <div class="panel-heading">
                    <h3>Xərclər</h3>
                </div>
                <div class="panel-body">
                    <form asp-action="CostCreate" name="myForm" onsubmit="return validateForm()">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label" required>Məbləğ</label>
                            <input class="form-control" autocomplete="off" type="number" step="0.01" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Kimə</label>
                            <input value=" " class="form-control" autocomplete="off" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nə üçün</label>
                            <input value=" " class="form-control" autocomplete="off" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Sənəd №</label>
                            <input value=" " class="form-control" autocomplete="off" />
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-group mb-0">
                            <div><button type="submit" class="btn btn-primary waves-effect waves-light mr-1 ">Yadda saxla</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">


        function saveOrder(data) {
            return $.ajax({
                method: 'post',
                url: "/Objects/NewObject",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!")
                }
            });
        }

        $("#saveOrder").click(function (e) {
            e.preventDefault();


            var data = [{
                Porch: $("#porch").val(),
                Floor: $("#floor").val(),
                Number: $("#number").val(),
                Squares: parseFloat($("#squares").val()),
                BuildingId: parseInt($("#buildingId").val()),
                ObjectTypeId: parseInt($("#objectTypeId").val())
            }]

            console.log(data);


            $.when(saveOrder(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });


    </script>




    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }






